/* Application styles */

body {
  font-family: sans-serif;
  padding: 1rem;
  line-height: 1.5;
}

h1, h2, h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p, li {
  margin-bottom: 1rem;
}

/* extra gap specifically for place list on index */
ul.places li {
  margin-bottom: 1.5rem;
}

.field {
  margin-bottom: 1rem;
}
